@import './vars.scss';

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin wrapperSize {
    max-width: $wrapperWidth;
    margin: auto;
}

@mixin screenMedia($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else {
        @warn 'Unfortunately, `#{$breakpoint}` can not be found. '
            + 'Available breakpoints are: #{map-keys($breakpoints)}.';
    }
}

@mixin avatar {
    width: 16em;
    height: 16em;
    line-height: 16em;
    border-radius: 50%;
}

@mixin avatarAdaptive {
    width: 15.5em;
    height: 15.5em;
    line-height: 15.5em;
}