@import '/src/app/index.scss';

:host ::ng-deep {
    .icon {
        font-size: 22px;
        transform: scale(1);
        font-weight: bold;
    }

    .circle .mat-mini-fab {
        position: absolute;
        top: -70px;
        right: 10px;
        background-color: $avatarPlusColor;
    }
}
