<div
  pwAvatarDropZone
  (onFileDropped)="addAvatar($event)"
>
  <ng-container *ngIf="!avatar?.url; else userAvatar">
    <div class="avatar">
      <pw-icon class="icon">{{ iconName }}</pw-icon>
      <div class="avatar__add-photo">
        <pw-avatar-plus (onAddPhoto)="addAvatar($event)"></pw-avatar-plus>
      </div>
    </div>
  </ng-container>
  
  <ng-template #userAvatar>
    <div class="avatar avatar-cover">
      <img
        class="avatar-cover__photo"
        [src]="avatar.url"
        alt="user avatar"
      >
      <div class="avatar-cover__add-photo">
        <pw-avatar-plus (onAddPhoto)="addAvatar($event)"></pw-avatar-plus>
      </div>
    </div>
  </ng-template>
</div>
