@import '/src/app/index.scss';

:host ::ng-deep {
    .icon {
        transform: scale(2);
    }
}

.avatar {
    width: 16em;
    height: 16em;
    border: dotted 4px black;
    border-radius: 50%;
    line-height: 16em;
    text-align: center;
    background: white;
    position: absolute;
    left: -70px;
    top: 70px;

    @include screenMedia('tablet-landscape') {
        position: static;
        width: 15.5em;
        height: 15.5em;
        line-height: 15.5em;
        margin: 5px;
    }
}

.avatar-cover {
    border: transparent;
}

.add-photo {
    position: relative;
}