<div
  pwAvatarDropZone
  (onFileDropped)="addAvatar($event)"
  (dragover)="imageOver($event)"
  (dragleave)="imageLeave($event)"
  (drop)="imageDrop($event)"
>
  <ng-container *ngIf="!avatar?.url; else userAvatar" >
    <figure
      class="avatar no-cover"
      (mouseenter)="isIcon = !isIcon"
      (mouseleave)="isIcon = !isIcon"
      #noCover
    >
      <pw-icon class="icon">{{ icon }}</pw-icon>
      <aside
        class="avatar__add-photo"
        *ngIf="buttonPlus"
      >
        <pw-avatar-plus (onAddPhoto)="addAvatar($event)"></pw-avatar-plus>
      </aside>
    </figure>
  </ng-container>
  
  <ng-template #userAvatar>
    <figure class="avatar avatar-cover">
      <img
        class="avatar-cover__photo"
        [src]="avatar.url"
        alt="Аватар пользователя"
        #cover
      >
      <aside class="avatar-cover__add-photo">
        <pw-avatar-plus (onAddPhoto)="addAvatar($event)"></pw-avatar-plus>
      </aside>
    </figure>
  </ng-template>
</div>
