.avatar {
    width: 16em;
    height: 16em;
    border: dotted 4px black;
    border-radius: 50%;
    line-height: 16em;
    text-align: center;
    background: white;
    position: absolute;
    left: -70px;
    top: 70px
}