@import '/src/app/index.scss';

:host ::ng-deep {
    .icon {
        transform: scale(2);
    }
}

.avatar {
    @include avatar();
    border: dotted 4px $blackColor;
    background: $whiteColor;
    box-shadow: $boxShadow;
    text-align: center;
    position: absolute;
    left: -70px;
    top: 70px;

    @include screenMedia('tablet-landscape') {
        @include avatarAdaptive();
        position: static;
        margin: 5px;
    }

    &__add-photo {
        position: relative;
    }
}

.avatar-cover {
    border: transparent;

    &__photo {
        @include avatar();
        object-fit: cover;

        @include screenMedia('tablet-landscape') {
            @include avatarAdaptive();
        }
    }

    &__add-photo {
        position: relative;
        top: -119px;
        right: 4px;

        @include screenMedia('tablet-landscape') {
            top: -115px;
        }
    }
}

.avatar:hover {
    background-color: $avatarColor; 
}

.icon {
    pointer-events: none;
}