.header {
    position: fixed;
    height: 46px;
    width: 100vw;
    background-color: #f9f7ea;
    border-bottom: 1px solid #D6DBE2;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }

    &__title,
    &__login {
        font-size: 20px;
    }

    &__authorization {
        display: flex;
    }
}