@import '/src/app/index.scss';

.header {
    overflow: auto;
    height: 47px;
    background-color: $headerColor;
    border-bottom: 1px solid #D6DBE2;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }

    &__title {
        font-family: $fontLogo;
    }

    &__title,
    &__login {
        font-size: $fontSizeTitle;
        cursor: pointer;
    }

    &__authorization {
        display: flex;
    }
}
