:host ::ng-deep {
    .mat-form-field {
        min-width: 300px;
        padding: 0;

    }

    .reg-submit-btn {
            text-align: center;
        .mat-raised-button.mat-button-base {
            width: 70% ;
            margin: 0;
        }
    }

    .mat-form-field
    .mat-form-field-flex {
        padding-top: 0;
    }
}

.reg {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 46px 45px 50px -15px rgba(81, 57, 114, 0.2);
    margin-top: 20px;
    padding: 20px;
    position: relative;

    &__title {
        font-size: 24px;
        margin: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

