@import '/src/app/index.scss';

:host ::ng-deep {
    .mat-form-field {
        min-width: 300px;
        padding: 0;

        @include screenMedia('tablet-landscape') {
            min-width: 250px;
        }
    }

    .reg-submit-btn {
        text-align: center;

        .mat-raised-button.mat-button-base {
            width: 70% ;
            margin: 0;
        }
    }

    .mat-form-field
    .mat-form-field-flex {
        padding-top: 0;
    }

    .mat-focus-indicator {
        vertical-align: middle;
    }

    .mat-focus-indicator.hide-icon.mat-icon-button.mat-button-base {
        justify-content: flex-end;
    }
}

.reg {
    @include flexColumn ();
    background-color: $whiteColor;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: $boxShadow;
    margin-top: 20px;
    padding: 20px;
    position: relative;

    @include screenMedia('tablet-landscape') {
        position: static;
    }

    &__title {
        font-size: $fontSizeTitle;
        margin: 10px;
    }

    &__content {
        @include flexColumn ();
    }
}
