@import '/src/app/index.scss';

.auth {
    text-align: center;

    &__title {
        margin: 10px;
    }

    &__content {
        @include flexColumn ();
    }

    &__submit {
        text-align: center;
    }
}

.info {
    @include flexColumn ();
    margin-bottom: 10px;

    &__link {
        font-size: 14px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    &__link:hover {
        text-decoration: underline;
    }
}

.mat-focus-indicator.mat-icon-button.mat-button-base {
    justify-content: flex-end;
}