<div class="auth">
  <p class="auth__title h2">Авторизация</p>
  <aside mat-dialog-content>
    <form
      class="auth__content"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <pw-input
        [parentForm]="form"
        fieldName="mobile"
        labelName="Телефон"
        prefixName="+7"
        typeName="tel"
        placeholderName="999-999-9999"
        controlName="mobile"
        maskName="000-000-0000"
      >
        <pw-icon icon>{{ nameIconWrite }}</pw-icon>
      </pw-input>

      <pw-input
        [parentForm]="form"
        fieldName="password"
        labelName="Пароль"
        controlName="password"
        [typeName]="typeInput"
      >
        <button
          icon
          type="button"
          mat-icon-button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <pw-icon>{{ iconVisibility }}</pw-icon>
        </button>
      </pw-input>

      <nav class="info">
        <a
          class="info__link"
          [routerLink]="['']"
        >
          Забыли пароль?
        </a>
        <a
          class="info__link"
          [routerLink]="['registration']"
          mat-dialog-close
        >
          Зарегистрироваться
        </a>
      </nav>

      <aside class="auth__submit">
        <pw-button-submit [disabled]="form.invalid">
          Войти
        </pw-button-submit>
      </aside>
    </form>
  </aside>
</div>