<div class="auth">
  <h3 class="auth__title">Авторизация</h3>
  <div mat-dialog-content>

    <form
      class="auth__content"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <mat-form-field
        class="auth__input"
        appearance="standard"
      >
        <mat-label>Телефон</mat-label>
        <span matPrefix>+7 &nbsp;</span>
        <input
          type="tel"
          matInput
          placeholder="999-999-9999"
          formControlName="mobile"
          mask="000-000-0000"
          autocomplete="on"
        >
        <pw-icon matSuffix>mode_edit</pw-icon>
      </mat-form-field>

      <mat-form-field
        class="auth__input"
        appearance="standard"
      >
        <mat-label>Пароль</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          [type]="typeInput"
          autocomplete="on"
        >
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <pw-icon>{{ iconVisibility }}</pw-icon>
        </button>
      </mat-form-field>

      <div class="auth__submit">
        <pw-button-submit
          [disabled]="form.invalid"
        >
          Войти
        </pw-button-submit>
      </div>
      
    </form>
  </div>
</div>