<div class="auth">
  <h3 class="auth__title">Авторизация</h3>
  <div mat-dialog-content>
    <form
      class="auth__content"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <pw-input
        [parentForm]="form"
        fieldName="mobile"
        labelName="Телефон"
        prefixName="+7"
        typeName="tel"
        placeholderName="999-999-9999"
        controlName="mobile"
        maskName="000-000-0000"
      >
        <pw-icon icon>{{ nameIconWrite }}</pw-icon>
      </pw-input>

      <pw-input
        [parentForm]="form"
        fieldName="password"
        labelName="Пароль"
        controlName="password"
        [typeName]="typeInput"
      >
        <button
          icon
          type="button"
          mat-icon-button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <pw-icon>{{ iconVisibility }}</pw-icon>
        </button>
      </pw-input>

      <div class="info">
        <a class="info__link" [routerLink]="['']">Забыли пароль?</a>
        <a class="info__link" [routerLink]="['']">Зарегистрироваться</a>
      </div>

      <div class="auth__submit">
        <pw-button-submit [disabled]="form.invalid">
          Войти
        </pw-button-submit>
      </div>
    </form>
  </div>
</div>