<div class="footer">
  <div class="container">
    <div class="wrapper">
      <nav class="footer__info">
        <pw-footer-icon
          hrefName="https://krasnodog.ru"
          textTooltip="Перейти на сайт"
          srcName="../assets/footer/krasnodoglogo.png"
          altName="КрасноДог лого"
          heightSize="50"
          widthSize="200"
          tooltipPosition="left"
          class="footer__image"
        ></pw-footer-icon>

        <pw-footer-icon
          hrefName="https://github.com/odianboy"
          textTooltip="Перейти на сайт"
          srcName="../assets/footer/githublogo.svg"
          altName="ГитХаб лого"
          heightSize="50"
          widthSize="50"
          class="footer__image"
        ></pw-footer-icon>
      </nav>
    </div>
  </div>
</div>
