<div class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="footer__info">
        <a
        href="https://krasnodog.ru/"
        matTooltip="Перейти на сайт"
        matTooltipPosition="right"
        target="_blank"
      >
        <img
          src="/assets/footer/krasnodoglogo.png"
          alt="КрасноДог лого"
          height="50"
          width="200"
        >
      </a>
      <a
        href="https://github.com/odianboy"
        matTooltip="Перейти на сайт"
        matTooltipPosition="right"
        target="_blank"
      >
        <img
          src="/assets/footer/githublogo.svg"
          alt="ГитХаб лого"
          height="50"
          width="50"
        >
      </a>
      </div>
    </div>
  </div>
</div>