/* You can add global styles to this file, and also import other style files */
@import './app/index.scss';

@font-face {
    font-family: 'Durik';
    src: url(assets/fonts/Durik/ДУРИК.ttf);
}

@font-face {
    font-family: 'Druzba';
    src: url(assets/fonts/Druzba/MB_Druzba-Regular-L.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $fontName;
    background: $background;
}

.container {
    max-width: $containerWidth;
    width: 100%;
    margin: auto;
}