@import '/src/app/index.scss';

.not-found {
    @include flexColumn ();
    background-color: $whiteColor;
    width: 100%;
    align-items: center;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    margin-top: 20px;
    padding: 20px;

    &__image {
        margin-top: 10px;
    }

    &__title {
        margin-bottom: 10px;
    }
}