<div class="validation">
  <h1
    mat-dialog-title
    class="validation__title"
  >
    Предупреждение!
  </h1>
  <mat-dialog-content class="validation__content">
    <p class="validation__text">{{ data.text }}</p>
    <img
      class="validation__image"
      alt="validation"
      [src]="image"
    >
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      class="btn"
    >
      Понятно
    </button>
  </mat-dialog-actions>
</div>