@import '/src/app/index.scss';

:host ::ng-deep {
    .mat-button {
        min-width: 200px;
    }
}

.validation {
    @include flexColumn();
    align-items: center;

    &__content {
        @include flexColumn();
        align-items: center;
    }

    &__title {
        font-size: $fontSizeTitle;
        font-weight: bold;
    }

    &__text {
        font-size: $fontSize;
        margin-bottom: 10px;
    }
}